<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: pink;
            margin-top: 20px;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            text-align: center;
        }

        .container {
            background-color: seagreen;
            margin-top: 20px;
            position: relative;
            border-radius: 5px;
            background-color: #f2f2f2;
        }
        .row{
            padding: 20px 0 30px 0;
            background-color: seagreen;
        }

        input,
        .btn {
            padding: 12px;
            border: none;
            border-radius: 4px;
            margin: 5px 0;
            opacity: 0.85;
            display: inline-block;
            font-size: 17px;
            line-height: 20px;
            text-decoration: none;
        }

        input:hover,
        .btn:hover {
            opacity: 1;
        }

        button {
            background-color: #04AA6D;
            color: white;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>

    <center>
        <h2>Login Form</h2>
    </center>

    <div class="container">
        <form action="/login" method="POST">
            <div class="row">
                
                <label for="loginId"><b>Email or Username</b></label>
                <input type="text" placeholder="Enter Email or Username" name="loginId"><br/>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password"><br/>
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
    </div>
</body>

</html>